<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헬크</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <!-- 로그인 성공 메시지 -->
    <div th:if="${successMessage}" class="alert alert-success text-center" role="alert">
        <span th:text="${successMessage}"></span>
    </div>

    <article class="mt-4">
        <h1 class="text-center">헬크</h1>
        <div class="text-center mt-3">
            <p>랭킹</p>
            <p>커뮤니티</p>
            <p>운동설명</p>
            <p>헬스장 or 트레이너 추천</p>
        </div>
    </article>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
